<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<integer>333</integer>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk0s3</string>
		<string>disk1</string>
		<string>disk2</string>
		<string>disk2s1</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>ECBC7F2A-4E80-44E2-986A-30BB18C53752</string>
					<key>Size</key>
					<integer>314572800</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>E783267B-A4C3-3556-B751-DBED770EB996</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_CoreStorage</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>CEB1FDAB-9500-4CC8-BEDC-AEDEF5737247</string>
					<key>Size</key>
					<integer>499313168384</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_Boot</string>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
					<key>DiskUUID</key>
					<string>A38539C7-AB5B-4ACC-A620-0906C046CC20</string>
					<key>Size</key>
					<integer>650002432</integer>
					<key>VolumeName</key>
					<string>Recovery HD</string>
					<key>VolumeUUID</key>
					<string>FA134848-E7A0-35A1-A82D-CA9C92BFFA4C</string>
				</dict>
			</array>
			<key>Size</key>
			<integer>500277788672</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>Apple_HFS</string>
			<key>DeviceIdentifier</key>
			<string>disk1</string>
			<key>MountPoint</key>
			<string>/</string>
			<key>Size</key>
			<integer>498954403840</integer>
			<key>VolumeName</key>
			<string>Macintosh HD</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk2</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>Apple_HFS</string>
					<key>DeviceIdentifier</key>
					<string>disk2s1</string>
					<key>DiskUUID</key>
					<string>57BEB2AA-5364-44E6-AF40-DB2296CBF304</string>
					<key>MountPoint</key>
					<string>/Volumes/Ballon</string>
					<key>Size</key>
					<integer>99983360</integer>
					<key>VolumeName</key>
					<string>Ballon</string>
					<key>VolumeUUID</key>
					<string>F1D1E7E0-E7E8-31A1-8FEF-137FCBFFD7DF</string>
				</dict>
			</array>
			<key>Size</key>
			<integer>100020736</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>Macintosh HD</string>
		<string>Ballon</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk1</string>
		<string>disk2</string>
	</array>
	<key>bool1</key>
	<false/>
	<key>bool2</key>
	<true/>
	<key>one_int</key>
	<integer>999</integer>
</dict>
</plist>
